---
BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BraceWrapping:
  AfterCaseLabel: true
  SplitEmptyFunction: false
BreakBeforeCloseBracketFunction: false
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
IncludeBlocks: Regroup
IndentCaseLabels: true
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Left
ReflowComments: false
