---
BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BreakBeforeCloseBracketFunction: false
ColumnLimit: 100
IncludeBlocks: Regroup
PointerAlignment: Left